




body {
    width: 960px;
    height: 100%;
    background-color: darkslategray;
    text-align: center;
    box-sizing: border-box;    
    margin: auto;
    font-family: fantasy;



}

.wrapper {
    width: 960px;
    height: 100%;
    background-color: rgba(138, 68, 68, 0.938);
    text-align: center;
    margin: auto;


}

.gamebox {
    width: 958px;
    height: 100%;
    background-color: rgba(138, 68, 68, 0.938);
    text-align: center;
    margin: auto;
    border-style: ridge;
    margin: 0 auto;
    padding: auto;

}

h1 {
    font-family: monospace;
    font-size: 80px;

}
